{% load static %}

<footer class="container-fluid bg-danger fixed-bottom">
    <div class="container text-light">
        <div class="row align-items-center justify-content-center">
            <div class="p-1 ">
                <span><strong>Tel:</strong> (xx)xxxxx-xxxx </span>
            </div>
            <div class="p-1 ">
                <span><strong>Email:</strong> suporte@lojafrancisco.com.br</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="p-1">
                <strong><span class="text-align">&copy; 2023 Loja Francisco</span></strong>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>